---


const {dades} = Astro.props;

const {nom, data, lloc, slug} = dades;

---

<div class="col col-12 col-md-6 mb-4">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{nom}</h5>
          <p class="card-text">{data}</p>
          <p class="card-text">{lloc}</p>
        </div>
      </div>
</div>