---
import Menu from '../components/Menu.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout></Layout>

<Layout backgroundClass="background-index">
<html> 
  <meta charset="UTF-8" />
<head>
  <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
  <Menu />
</body>
</html>
</Layout>

