---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout></Layout>

<Layout backgroundClass="background-quisom">
  <Menu></Menu>
  <section>
    <p>Des de 1997, el nostre restaurant a Cadaqués ha estat un refugi de sabors i experiències inoblidables. Situat en un racó privilegiat vora el mar, on les onades es fonen amb la música del vent, oferim als nostres comensals una harmonia única de gastronomia i paisatge.

      El nostre equip de xefs s'inspira en la riquesa del Mediterrani per crear plats que celebren la tradició i la innovació. Des de les primeres llums de l'alba fins als últims raigs del capvespre, el nostre compromís és oferir una experiència culinària que captivi tots els sentits.
      
      Amb gairebé tres dècades d'història, continuem amb la mateixa passió del primer dia, acollint a cada visitant com a part de la nostra família i fent que cada àpat sigui un record per a tota la vida. Al nostre restaurant, no només assaboriràs menjar, sinó que viuràs la màgia de Cadaqués en cada mos.</p>
  </section>
</Layout>
