---
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ca">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{"A tu vera"}</title>
        <meta name="description" content={description} />
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="stylesheet" href="/styles/bootstrap.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    </head>
    <body class={Astro.props.backgroundClass}>
        
        <main>
            <slot />
        </main>
        
    </body>
</html>
