---
import Layout from '../layouts/Layout.astro';

import cv from '../data/data.json';


---

<Layout title="Temps lliure">


	<h1>HOBBIES</h1>

    <ul>
        {cv.aficions.map(item => (
            <li>
                {item}
            </li>
        ))}
    </ul>

	
</Layout>