---
const {Id, nom, email, notes } = Astro.props.dades;

---

<div class="border mb-8 w-1/2 p-8 bg-white">
    <h1 class="text-xl font-bold textalign-left">{nom}</h1>

    <hr class="my-4" />
    <h2>{email}</h2>
    <h3 class="font-bold">{notes}</h3>

    <a href={"/todos/eliminar/" + Id}>
        <button
            class="bg-green-500 hover:bg-green-700 text-white py-1 px-2 text-sm rounded "
        >
            Done
        </button>
    </a>
</div>
